$color-black-bg: #111111;
$color-red: #e80000;
$color-dark-red: #a00006;
$color-gray: #454545;
$color-dark-gray: #333333;
$color-blue: #1593D6;
$color-white: #FFF;
$color-blue-light: #54B3E9;
$color-peach-dark: #F18962;
