@font-face {
  font-family: 'ElMessiri';
  src: url("/src/assets/fonts/ElMessiri/ElMessiri-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'FiraSansExtraCondensed';
  src: url("/src/assets/fonts/FiraSansExtraCondensed/FiraSansExtraCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'FiraSansExtraCondensed_light';
  src: url("/src/assets/fonts/FiraSansExtraCondensed/FiraSansExtraCondensed-Light.ttf") format("truetype");
}
